@charset "utf-8";

/* Board */
.board{position:relative;background-color:#fff}
.board img{vertical-align:top;border:0}
.board caption,.board legend{visibility:hidden;width:0;height:0;font-size:0;line-height:0;overflow:hidden}
.board *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.board,
.board label,
.board table,
.board input,
.board button,
.board textarea,
.board select{font-size:12px;font-family:'Nanum Barun Gothic','나눔고딕',NanumGothic,'돋움',Dotum,Helvetica Neue,Helvetica,sans-serif}
.board select{margin:0}
.board label{display:inline-block;margin:0}
.board textarea{resize:vertical}
.board .chk_mng{vertical-align:middle}
.board .bd_hidden{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
.board .pc_hidden{display:none}

/* Board Header */
.board_header{position:relative;zoom:1;margin:0 0 20px 0;font-size:14px}
.board_header:after{content:"";display:block;clear:both}
.board_header .bd_selelct_area{position:relative;float:left;margin-right:10px;min-width:120px;max-width:160px}
.board_header .bd_select{overflow:hidden;display:block;position:relative;height:40px;padding:0 40px 0 16px;border:1px solid #ddd;background-color:#fff;line-height:40px;color:#2c2e37;text-overflow:ellipsis;text-decoration:none}
.board_header .bd_select:after{position:absolute;top:50%;right:16px;width:0;height:0;margin-top:-2px;border-width:5px 4px 0;border-style:solid;border-color:#2c2e37 transparent transparent;content:''}
.board_header .bd_select.on:after{border-width:0 4px 5px;border-color:transparent transparent #2c2e37}
.board_header .bd_select.on ~ .bd_select_list,
.board_header .bd_manage.on ~ .bd_select_list{display:block}
.board_header .bd_select i,
.board_header .bd_select_list i{margin-right:13px;font-size:16px;line-height:40px;vertical-align:middle}
.board_header .bd_select_list{display:none;position:absolute;top:39px;z-index:20}
.board_header .bd_select_list ul{min-width:120px;max-width:160px;border:1px solid #ddd;background-color:#fff;margin:0;padding:0;list-style:none}
.board_header .bd_select_list li>a{overflow:hidden;display:block;height:40px;line-height:40px;padding:0 40px 0 16px;color:#2c2e37;white-space:nowrap;text-overflow:ellipsis;text-decoration:none}
.board_header .bd_select_list li>a:hover{background-color:#f4f4f4}
.board_header .bd_manage{min-width:80px;margin-right:40px;line-height:40px}
.board_header .bd_manage .bd_select{padding:0 24px 0 16px}
.board_header .bd_manage:after{position:absolute;top:50%;right:-21px;width:1px;height:16px;margin-top:-8px;background-color:#ddd;content:''}
.board_header .bd_manage span.bd_select{border-color:#ddd;color:#ddd}
.board_header .bd_manage span.bd_select:after{border-width:5px 4px 0;border-color:#ddd transparent transparent}
.board_header .bd_btn_area{float:right;height:40px}
.board_header .bd_btn_area ul{margin:0;padding:0;list-style:none}
.board_header .bd_btn_area li{float:left;margin-left:26px;padding:11px 0 0}
.board_header .bd_btn_area li a{display:block;color:#bebebe;text-decoration:none}
.board_header .bd_btn_area .on,
.board_header .bd_btn_area li a:hover{color:#1677cb}
.board_header .bd_btn_area li a>i{font-size:20px}
.board_header .bd_search_area{display:none;clear:both;padding:20px 0 0}
.board_header .bd_search_box{position:relative;padding:0 30px 0 8px}
.board_header .bd_search_input{width:100%;height:60px;border:0;line-height:60px;font-size:24px}
.board_header .bd_btn_detail{position:absolute;top:50%;right:0;width:30px;height:30px;margin-top:-15px}
.board_header .bd_btn_detail:after{position:absolute;top:50%;left:50%;width:0;height:0;margin:-2px 0 0 1px;border-width:5px 4px 0;border-style:solid;border-color:#2c2e37 transparent transparent;content:''}
.board_header .bd_btn_detail.on:after{border-width:0 4px 5px;border-color:transparent transparent #1677cb}
.board_header .bd_search_detail{display:none;margin-top:20px;padding:0 8px}
.board_header .bd_search_detail dt{overflow:hidden;float:left;width:124px;height:40px;line-height:40px;clear:both;color:#696e7a;white-space:nowrap;text-overflow:ellipsis;font-weight:normal}
.board_header .bd_search_detail dd{float:left;position:relative;min-width:120px;margin:0 0 16px 0}
.board_header .bd_input{width:300px;height:40px;padding:0 0 0 5px;border:1px solid #ddd;border-radius:0;font-size:14px;-webkit-appearance:none;appearance:none;color:#2c2e37}
.board_header .bd_input:focus,
.board_header .bd_input:active{border-color:#2c2e37}
.board_header .bd_search_detail .bd_select{width:120px}
.board_header .bd_search_footer{clear:both;padding-bottom:20px}
.board_header .bd_search_footer>a{display:inline-block;width:40px;height:40px;margin-left:6px;border:1px solid #bebebe;border-radius:50%;background-color:#fff;color:#bebebe;font-size:14px;text-align:center;line-height:40px}
.board_header .bd_search_footer>a:first-child{margin-left:0}
.board_header .bd_search_footer .bd_btn_search{border-color:#1677cb;background-color:#1677cb;color:#fff}
.board_header .bd_date_input{margin-top:10px;color:#ddd}
.board_header .bd_date_input .bd_input{width:120px;padding:0;text-align:center}

/* Board List */
.board .board_list{position:relative;line-height:1.5}
.board_list table{width:100%;border-collapse:collapse;border-spacing:0;border:0;border-top:1px solid #f4f4f4;color:#2c2e37}
.board_list a{text-decoration:none;color:#2c2e37}
.board_list th{border:0;border-bottom:1px solid #f4f4f4;padding:24px 0 25px;white-space:nowrap;font-size:15px;text-align:center}
.board_list th input[type=checkbox]{position:relative;top:2px}
.board_list th:first-childspan{border:0}
.board_list th span{display:block;padding:0 15px;height:20px;font-weight:normal}
.board_list td{border:0;padding:20px 10px 21px;white-space:nowrap;vertical-align:top;text-align:center;font-size:15px}
.board_list tr:last-childtd{border:0}
.board_list tbody tr.on,
.board_list tbody tr:hover{background-color:#f4f4f4}
.board_list tr.readed td,
.board_list tr.readed td>a{color:#bebebe}
.board_list td.favorite>a.on{color:#ffda00}
.board_list td.title{width:100%;white-space:normal;text-align:left;word-break:break-all}
.board_list td.author img {position:relative;top: -1px}
.board_list .title .category{display:none;margin-right:5px;padding:0 7px;border:1px solid #1677cb;border-radius:10px;color:#1677cb;font-size:10px;vertical-align:top}
.board_list .notice .title .category{display:inline-block;border-color:#1677cb;background-color:#1677cb;color:#fff}
.board_list tr.no_article {height: 150px}
.board_list tr.no_article td {vertical-align: middle}
.board_list .reply_num{font-size:12px;color:#1677cb}
.board_list .bd_ico_file{color:#bebebe;font-size:13px}
.board_list .bd_ico_new i{font-size:13px}
.board_list .more_info{margin-top:5px}
.board_list .more_info>span,
.board_list .more_info>a{display:inline-block;margin-right:6px;color:#bebebe;font-size:13px}
.board_list .more_info .mb_autohr{margin-right:5px;color:#696e7a}
.board_list .more_info .mb_autohr:after{display:inline-block;position:relative;top:-2px;margin-left:7px;font-size:11px;content:'|';color:#bebebe}

/* Pagination */
.bd_paginate{margin-top:70px;text-align:center}
.bd_paginate>a,
.bd_paginate>strong,
.bd_paginate>span{display:inline-block;margin:0 3px;padding:6px 12px;border-radius:25px;color:#696e7a;text-align:center;font-size:14px;line-height:1.42857143;text-decoration:none}
.bd_paginate>a>i{vertical-align: middle}
.bd_paginate>strong,
.bd_paginate>a:hover{border-color:#1777cb;font-weight:normal;background-color:#1777cb;color:#fff;transition: all 0.2s ease-in-out;-webkit-transition: all 0.2s ease-in-out}
.bd_paginate>.btn_prev{margin:0 23px 0 3px}
.bd_paginate>.btn_next{margin:0 3px 0 23px}
.bd_paginate>.btn_pg:hover{background:none;color:#2c2e37}
.bd_paginate>span.btn_pg{color:#ddd}
.bd_paginate>span.btn_pg:hover{color:#ddd}
.bd_paginate .more_page{position:relative;display:inline-block;margin:0 10px}

.bd_paginate.v2{overflow:hidden;margin-top:20px;padding:0 12px}
.bd_paginate.v2>.btn_pg{float:left;width:32px;height:32px;margin:0;padding:0;border:1px solid #696e7a;line-height:32px}
.bd_paginate.v2>.btn_next{float:right}
.bd_paginate.v2 .pg_box{display:inline-block;height:32px;margin:0;padding:0; line-height:32px;color:#bebebe;font-size:13px}
.bd_paginate.v2 .pg_box>strong{color:#2c2e37;font-weight:normal}
.bd_paginate.v2>span.btn_pg{border:1px solid #ddd}


@media (max-width: 767px) {
    .board .mb_hidden{display:none}
    .board .pc_hidden{display:block}
    .board_header{position:relative;z-index:20;margin-bottom:0;background-color:#fff}
    .board_header .bd_manage_area{position:relative}
    .board_header .bd_manage_area .bd_select_list{top:0;right:0;width:calc(100% - 42px);display:none}
    .board_header .bd_manage_area .bd_select_list ul{max-width:none;border:0;text-align:right}
    .board_header .bd_manage_area .bd_select_list li{display:inline-block;vertical-align:top}
    .board_header .bd_manage_area .bd_select_list li>a{height:60px;padding:0 12px;line-height:60px;color:#bebebe}
    .board_header .bd_manage_area .bd_select_list li>a:hover{background:none}
    .board_header .bd_manage_area .bd_select_list li>a>span{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
    .board_header .bd_manage_area .bd_select_list li>a>i{margin-right:0;font-size:20px}
    .board_header .bd_manage{min-width:42px;margin-right:0}
    .board_header .bd_manage .bd_select{padding:0 11px;width:42px;height:60px;border:0;font-size:20px;color:#bebebe}
    .board_header .bd_manage .bd_select.on,
    .board_header .bd_manage.on .bd_select{color:#1677cb}
    .board_header .bd_manage .bd_select i{line-height:60px;margin-right:0;font-size:20px}
    .board_header .bd_manage .bd_select_list{top:46px;left:37px}

    .board_header .bd_manage:after,
    .board_header .bd_manage .bd_select:after{display:none}
    .board_header .bd_search_area{position:absolute;top:60px;width:100%;padding:10px 0;border-top:1px solid #ddd;z-index:20;background-color:#fff}
    .board_header .bd_search_detail{padding:0 12px}
    .board_header .bd_search_detail dt{float:none;height:36px}
    .board_header .bd_search_detail dd{float:none;margin-bottom:7px}
    .board_header .bd_search_input{height:30px;font-size:15px;line-height:30px}
    .board_header .bd_search_box{padding-left:12px}
    .board_header .bd_search_footer{padding-top:13px}
    .board_header .bd_btn_detail:after{margin-left:-9px}
    .board_header .bd_sorting_area{position:absolute;top:60px;width:100%;z-index:20}
    .board_header .bd_btn_area li a:hover{color:#bebebe}

    .board_header .bd_input{width:100%}
    .board_header .bd_align{float:none;clear:both;max-width:none;min-width:auto;margin-right:0;border:none}
    .board_header .bd_align .bd_select{height:50px;border:0;border-top:1px solid #ddd;padding-left:12px;line-height:50px;font-size:15px}
    .board_header .bd_align .bd_select:after{border-color:#bebebe transparent transparent}
    .board_header .bd_align .bd_select.on:after{border-color:transparent transparent #1777cb}
    .board_header .bd_align .bd_select_list{position:static}
    .board_header .bd_align .bd_select_list ul{max-width:none;min-width:auto;border:none;background-color:#f4f4f4}
    .board_header .bd_align .bd_select_list li{border-top:1px solid #fff}
    .board_header .bd_align .bd_select_list li:first-child{border-top:none}
    .board_header .bd_align .bd_select_list li>a{position:relative;padding:0 40px 0 12px;height:50px;line-height:50px;font-size:15px;color:#696e7a}
    .board_header .bd_align .bd_select_list li>a.present:after{position:absolute;top:50%;right:12px;width:22px;height:22px;margin-top:-11px;border-radius:50%;background-color:#1677cb;content:'\e6e0';font-family:xeicon;line-height:22px;text-align:center;color:#fff}
    .board_header .bd_btn_area{height:60px}
    .board_header .bd_btn_area ul{overflow:hidden}
    .board_header .bd_btn_area li{padding:0;margin-left:0}
    .board_header .bd_btn_area li>a{height:60px;padding:0 12px}
    .board_header .bd_btn_area li>a>i{line-height:60px}
    .board_list table{border-color:#ddd}
    .board_list tr.readed .mb_autohr{color:#bebebe}
    .board_list td{padding:12px 12px 11px;border-bottom:1px solid #f4f4f4}
    .board_list td.title{padding-left:0;font-size:15px}
    .board_list .title .category{position:relative;top:2px}
    .board_list .check input[type=checkbox]{position:relative;top:2px;width:13px;height:13px;border:1px solid #bebebe;-webkit-appearance:none;appearance:none;border-radius:0}
    .board_list .check input[type=checkbox]:checked{border-color:#1777cb;background-color:#1777cb}
    .board_list .title .category{display:inline-block}
    .board_list tbody tr:hover{background:none}
    .board .bd_dimmed{display:none;position:absolute;top:0;bottom:0;left:0;right:0;;background-color:#000;z-index:15;opacity:0.3;filter:alpha(opacity=30)}
}



























