//
// Variables
// --------------------------------------------------

$brown-color:              #b8a18d !default;
$blue-color:              #8ba9ec !default;
$red-color:              #af3333 !default;
